<div class="ds-content__withsidebar">
    <div class="ds-content-main">      
      <div class="ds-box ds-box--depth-huge">
        <div class="ds-card ds-card--tertiary ds-card--mb">
          <div class="ds-card__body ds-card__body--lg">
            <div class="ds-table-wrapper">
              <table class="ds-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Family</th>
                    <th>Habitat</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <h5 class="ds-table__row-title">Qwerty</h5>
                    </td>
                    <td>abc</td>
                    <td>ghi</td>
                    <td>jkl</td>
                  </tr>
                </tbody>
              </table>
            </div>            
          </div>
        </div>
      </div>
    </div>
    <aside role="complementary" class="ds-content-sidebar">
      <form class="ds-form ds-form--filters">
        <div class="ds-box">
          <div class="ds-button-group" style="display: block;">
            <button type="button" name="button" class="ds-button ds-button--md ds-button--secondary" style="margin-bottom: 10px;" (click)="getBirds()">
              List birds
            </button>
          </div>
        </div>
    </form>
    </aside>
  </div>